*.log
*.out

/.idea
/job_inner.sh
/*_api.sh

*.pickle
/GLPFT/dataset/**
/data/**
/GLPFT/output_pathes/*

/**/__pycache__
/**/output_res
/**/output_verbose_res
/**/output_pathes
/**/output_patches
/**/saved_models
.DS_Store
assets/.DS_Store

/**/*_scrape.py
/GLPFT/output_verbose_res/
/GLPFT/classification_fail_log.json
/GLPFT/ood_output_res_verbose/
